<h1>グループ招待メール</h1>

<p>下記のリンクからグループに参加できます。</p>
<p>※参加を辞退する場合はリンク内で辞退を選んでください</p>
<<<<<<< HEAD
<%= link_to "グループの参加はこちらから", invite_relationships_url(group_id: @group.id) %>
=======
<%= link_to "グループの参加はこちらから", invite_relationships_url(id: current_group.id) %>
>>>>>>> fce5f5946249e7bbeb371ad61511217ba659b651
