<div class="text-center">
  <h1>タスク詳細編集</h1>
</div>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= render "tasks/form" %>
        <%= link_to 'タスク詳細へ戻る≫', current_task %>
    </div>
</div>
