<div class="text-center">
  <h1>グループ名変更</h1>
</div>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= render "groups/form" %>
        <%= link_to 'タスク一覧へ戻る≫', current_group %>
    </div>
</div>
