<div class="bg">
  <div class="center jumbotron">
    <div class="text-center logo-font">
      <h1>Share Task</h1>
      <p class="top_p">グループ内での仕事を見える化して業務効率をあげよう！</p>
    </div>
  </div>
  <%= link_to "登録して使ってみる" , signup_path, class: 'btn btn-primary signup-btn' %>
  <div class="how_to_use">
    <%= link_to "使い方を確認する≫" , how_to_use_path %>
  </div>
</div>
