<h1 class="how_to_use_title">ShareTaskの使い方</h1>

<div class="top_container">
  <h2 class="top_img_title">1. グループを作成する</h2>
  <%= image_tag '/images/top_img_1.png', class: 'top_img' %>
</div>

<div class="top_container">
  <h2 class="top_img_title">2.ユーザーを招待して、タスクを共有する</h2>
  <%= image_tag '/images/top_img_2.png', class: 'top_img' %>
</div>

<div class="top_container">
  <h2 class="top_img_title">3.タスクの担当者が進捗を書き込む</h2>
  <%= image_tag '/images/top_img_3.png', class: 'top_img' %>
</div>
