<h1 class="how_to_use_title">ShareTaskの使い方</h1>

<div class="top_container">
  <h2 class="top_img_title">グループ追加画面</h2>
  <%= image_tag '/images/top_img_1.png', class: 'top_img' %>
</div>

<div class="top_container">
  <h2 class="top_img_title">タスク追加画面</h2>
  <%= image_tag '/images/top_img_2.png', class: 'top_img' %>
</div>

<div class="top_container">
  <h2 class="top_img_title">進捗追加画面</h2>
  <%= image_tag '/images/top_img_3.png', class: 'top_img' %>
</div>
