// 共通レイアウト
$sky: #3aabd2;

h1,p{
  word-wrap: break-word;
}

ul{
  padding-left:0;
}

li{
  list-style-type:none;
}

html{
  body{
    background: #F7F7F7;
  }
}

.float-l{
  float:left;
}

.btn-list .badge{
  padding: .10rem .25rem;
}

img{
  width: 70%;
}

.button{
  border-style:none;
}

.text-center{
  text-align: center;
}

@media(max-width: 670px){
  h1{
    font-size:120%;
  }
  .logo-font p{
    font-size:60%;
  }
}

@media(max-width: 1000px){
  h1{
    font-size:150%;
  }
}
