// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-block{
  display: inline-block;
}

.group-delete-btn{
  margin:0px 0px 20px 20px;
}

.table{
  table-layout: fixed;
  word-wrap: break-word;
}

.graph{
  p{
    text-align: center;
    color: gray;
  }
}

@media(max-width: 1000px){
  .table{
    font-size:80%;
  }

  .btn-adjust{
    font-size:70%;
  }
}
@media(max-width: 670px){
  .table{
    font-size:70%;
  }

  .omitted{
    display:none;
  }

  #group_title{
    font-size:120%;
  }
}
